.panda-card{
    border: none;
}
.panda-card-footer{
    background: white;
    border: none;
}
.catagories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 1em;
}